:root {
    --font-primary: font-family: 'Nunito', sans-serif;

    --color-primary-1: #fd377e;
    --color-primary-2: #e34981;
    --color-secondary: #03b898;
    --color-gray-1: #f8f9fa;
    --color-gray-2: #e9ecef;
    --color-gray-3: #868e96;
    --color-gray-4: #212529;
    --color-gray-5: #343A40;
    --color-white: #ffffff
}


body {
    font-family: 'Nunito', sans-serif;
}

main {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}