.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.625rem;
    height: 6.25rem;
    background-color: var(--color-gray-1);

    div {
        margin-left: 6.25rem;
        width: 100%;
    }

    h1{
        color: var(--color-gray-4);
        font-weight: 900;
    }
    
    span{
        color:var(--color-primary-1);
        font-weight: 900;
    }
}