form {
    margin-left: 100px;
    width: 22.1875rem;
    height: 28.9375rem;
    border: solid 2px var(--color-gray-2);
  
    .container__pages {
      display: flex;
      flex-direction: column;
      padding: 1.4375rem;
      gap: 0.9375rem;
      margin-top: 20px;
    }
  
    .div__input {
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      label {
        font-size: 0.9375rem;
        font-weight: 400;
      }
  
      .inputs {
        border: 2px;
        border-radius: 9px;
        padding: 1rem;
        background-color: var(--color-gray-1);
      }
  
      p {
        margin-top: 0px;
        color: var(--color-gray-3);
        line-height: 5px;
        font-size: 0.8125rem;
      }
    }
  }
  
  .select {
    width: 19.375rem;
    height: 3.125rem;
    border: 2px;
    border-radius: 9px;
    padding: 1rem;
    background-color: var(--color-gray-1);
  
    option {
      color: var(--color-gray-5);
      background-color: var(--color-gray-1);
    }
  }
  
  .div__button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  
    button {
      width: 19.375rem;
      height: 2.9375rem;
      border: 2px;
      border-radius: 9px;
      background-color: var(--color-primary-1);
      color: var(--color-white);
    }
  }